{% extends "./base.html" %}

{% block title %} Gestión Reporte {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Gestión de Reportes</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarReport/" enctype="multipart/form-data" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Codigo"
                            minlength="6" maxlength="6" required>
                    </div>
                     <div class="form-group">
                        <input type="text" id="txtName" name="txtName" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtDescription" name="txtDescription" class="form-control" placeholder="Descripcion"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtText" name="txtText" class="form-control" placeholder="Texto"
                            maxlength="50" required>
                    </div>
                     <div class="form-group">
                         <label>Imagen</label>
                         <input type="file" name="txtImagen" id="txtImagen" requiredy>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Reportes: Listado</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombres</th>
                        <th>Descripcion</th>
                        <th>Texto</th>
                        <th>Imagen</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in report %}
                    <tr>
                        <td>{{r.codigo}}</td>
                        <td>{{r.name}}</td>
                        <td>{{r.description}}</td>
                        <td>{{r.text}}</td>
                        <td>
                            <img src="{{r.image}}" width="100" height="100">
                        </td>
                        <td><a href="edicionReport/{{r.codigo}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarReport/{{r.codigo}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}